body {
    color:white ; 
    background-color: black;
    font-size: 100.01%;
    font-family: Helvetica,Arial,sans-serif;
    margin: 0; padding: 1em;
    min-width: 41em; 
  }

  .header {
    color: black;
    background-color: #eee;
    font-weight: bold;
  }


a:link {  color:white; }
a:visited {  color:white; }
a:focus {  color:white; }
a:hover {  color:white; }
a:active {  color:white; }

   div#Header
   {
     width:100%;
   }

  ul#Navigation {
	
    margin-right:150px;
    font-size: 0.83em;
    float: left; 
    width: 16em;
    margin: 0 0 1.2em; padding: 0;
    border: 1px solid silver;
  }

  ul#Navigation li {
    width: 15em;
    list-style: none;
    margin: 0; padding: 0.5em;
  }
  ul#Navigation a {
    display: block;
    padding: 0.2em;
    font-weight: bold;
  }
  
  #VIPLink
  {
	font-size: 0.83em;
     color: black;
     background-color: #eee;
     padding: 0.2em;
     font-weight: bold;
  }
  
  ul#Navigation a:link {
    color: black;
     background-color: #eee;
  }
  ul#Navigation a:visited {
    color: #666;
     background-color: #eee;
  }
  ul#Navigation a:hover {
    color: black;
     background-color: white;
  }
  ul#Navigation a:active {
    color: white;
     background-color: gray;
  }

  div#Main {
	padding-left:10px;
    font-size: 0.9em;
   /*margin: 0 1 1.1em;*/
    padding: 0;
    background-color: black;
    
  }
  div#Info {
	float: right; width: 12em;
    font-size: 1.33em;
    margin: 0.2em 0.5em;
    border: 1px solid silver;
  }
  div#Info p {
    font-size: 1em;
    margin: 0.5em;
  }

  div#Inhalt {
    margin: 0 12em 1em 16em;
    padding: 0 1em;
    border: 1px solid silver;
  }
  * html div#Inhalt {
    height: 1em;  /* Workaround gegen den 3-Pixel-Bug des Internet Explorer bis Version 6 */
  }
  div#Inhalt h2 {
    font-size: 1.2em;
    margin: 0.2em 0;
  }
  div#Inhalt p {
    font-size: 1em;
    margin: 1em 0;
  }

  .Footer {
    clear: both;
    font-size: 0.7em;
    margin: 0; padding: 0.1em;
    text-align: center;
    background-color: black;
    vertical-align: text-bottom;

  }
  
   .Table td {
    color: #FFFFFF;
    background-color: black;
  }
  
   .Table td.header {
    color: black;
    background-color: #eee;
    font-weight: bold;
  }
  
  h3.ErrorHeader
  {
	color:red;
  
  }
  
  .VIP
  {
	font-weight: bold
  
  }
  
  .Icons
  {
	width:20px; 
	height:20px;
  } 
  
  .MapImage
  {
	float:left;
	background-color:#000000;
	background-image:url("");
	width:133px; 
	height:100px;
	borderStyle:solid;
	border:1;
	borderColor:grey;
	position:relative;
  
  }
  


  
  MapImageBreak
  {
  	float:left;
	background-color:#142A02;
	background-image:url("");
	width:133px; 
	height:100px;
	borderStyle:solid;
	border:1;
	borderColor:grey;
	position:relative;
  clear: both;
  
  }
  
  .StateImage
 {
	width:25px;
	height:25px;
 }
  

  
  
  